@model StockAlerts.Domain.EmailTemplates.ResetPasswordEmailModel

<p>
    If you requested help with your <a href="https://stockalerts.azurewebsites.net">Stock Alerts</a> password, you may reset your password by <a href='@Model.CallbackUrl'>clicking here</a>.
</p>
<p>
    If you did not make this request, you may safely ignore this e-mail.
</p>
<p>
    Thank you,
</p>
<p>
    - Jon from <a href="https://stockalerts.azurewebsites.net">Stock Alerts</a>
</p>