@model StockAlerts.Domain.EmailTemplates.WelcomeEmailModel

<p>
    Hi @Model.UserName,
</p>
<p>
    Welcome to <a href="https://stockalerts.azurewebsites.net">Stock Alerts</a>!
</p>
<p>
    - Jon from <a href="https://stockalerts.azurewebsites.net">Stock Alerts</a>
</p>